body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-image: url("https://affixtheme.com/html/xmee/demo/img/figure/bg9-l.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  position: relative; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 80px 90px 80px; }

h1 {
  font-size: 42px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 50px 0;
  color: white; }

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
  column-gap: 50px; }

.box {
  display: block;
  width: 300px;
  height: 50px;
  border: 5px solid transparent;
  border-radius: 8px;
  font-size: xx-large;
  padding: 10px;
  text-transform: uppercase;
  outline: none;
  background: white; }
  .box[disabled] {
    background: #ddd;
    cursor: not-allowed; }
  .box:not([disabled]) {
    border: 5px solid #00e49c;
    border-radius: 5px; }

#container div {
  margin-top: 20px; }
  #container div label {
    color: white; }

label {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif; }

.elegir {
  text-align: center;
  margin: auto;
  width: 100%;
  float: right;
  display: block; }
  .elegir h2 {
    color: white;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif; }
  .elegir select {
    background: transparent;
    color: white;
    padding: 12px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    border: white 2px solid;
    outline: none; }
    .elegir select option {
      background: #1064e2; }

.info-box {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  border-left: 4px solid #00e49c;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin: auto; }
  .info-box .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px; }
    .info-box .img img {
      display: block;
      width: 70px;
      border-radius: 50%; }
  .info-box .info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1; }
    .info-box .info h2, .info-box .info span {
      margin: 0;
      font-weight: inherit; }
